{{extend './parent.html'}}

{{block 'content'}}
<div class="panel panel-default">
    <div class="panel-heading">
        <ol class="breadcrumb">
            <li>
                <a href="#">首页</a>
            </li>
            <li>
                <a href="#">学生管理</a>
            </li>
            <li class="active">学生列表</li>
        </ol>
    </div>
    <div class="panel-heading">
        <div class="input-group">
            <span class="input-group-addon" id="basic-addon1">学生姓名</span>
            <input type="text" class="form-control" id="studentNameId" placeholder="请输入学生姓名进行查询" aria-describedby="basic-addon1" value="{{keyword}}" style="width:200px;margin-right:10px;">
            <input type="button" class="btn btn-success" onclick="search()" value="查找" style="margin-right:10px;">
            <input type="button" class="btn btn-success" value="新增" onclick="window.location='/studentmanager/add'">
        </div>
    </div>
    <div class="panel-body">
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>姓名</th>
                    <th>年龄</th>
                    <th>性别</th>
                    <th>手机号码</th>
                    <th>操作</th>
                </tr>
            </thead>
            <tbody>
                <!-- 遍历生成tr -->
                {{each students}}
                <tr>
                    <td>{{$value.name}}</td>
                    <td>{{$value.age}}</td>
                    <td>{{$value.sex}}</td>
                    <td>{{$value.phone}}</td>
                    <td>
                        <a href="" class="btn btn-success">编辑</a> |

                        <input type="button" onclick="" class="btn btn-danger" value="删除">
                    </td>
                </tr>
                {{/each}}
            </tbody>
        </table>
    </div>
</div>
<script>
    // 搜索
    function search(){
        const keyword = $("#studentNameId").val()
        
        window.location.href = `/studentmanager/list?keyword=${keyword}`
    }
</script>
{{/block}}